<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="css/red.css?v=7">

    <link rel="stylesheet" href="css/ocbcnisp.css" type="text/css" />

</head>

<body>




    <!-- INSERT CONTENT START -->

    <script>
        $(function () {

            $('#countrySelect').on('change', function () {
                var cvalue = $('option:selected', this).data('display-value');
                $('#countryValue').val(cvalue);
            });
        });
    </script>

    <div class="ocbc_webview">

        <div class="ocbc_webview_overlay"></div>

        <div class="ocbc_webview_content">

            <div class="lifegoalCalculator">

                <div class="titleBar">
                    Beli Mobil
                </div>

                <div class="calcInput">

                    <div class="formRow">
                        <input type="number" class="i6" value="500000000" />
                        <div class="left">Target Dana <b>Rp</b></div>
                    </div>

                    <div class="formRow">
                        <input type="number" class="i6" value="120000000" />
                        <div class="left">Dana tersedia <b>Rp</b></div>
                    </div>

                    <div class="formRow">
                        <input type="number" class="i2" value="5" />
                        <div class="left">Jangka Waktu</div>
                        <div class="right">tahun</div>
                    </div>

                    <div class="text-center">
                        <button class="onBtn">Hitung Ulang</button>
                    </div>

                </div>

                <div class="calcResult">
                    <div class="text-center">
                        Dewi membutuhkan dana hingga
                        <b>Rp 3,756,001,657</b> wujudkan dengan :

                    </div>

                    <div class="resultGraph ">
                        <div class="infoCol left">
                            <div class="row title"><span>Tabungan</span></div>
                            <div class="row desc">Menyisihkan hingga</div>
                            <div class="row value">Rp 210.040.000,-</div>
                            <div class="row note">(2% laba per tahun)</div>
                        </div>

                        <div class="infoCol right">
                            <div class="row title"><span>Investasi</span></div>
                            <div class="row desc">Menyisihkan hingga</div>
                            <div class="row value">Rp 860.040.000,-</div>
                            <div class="row note">(7.26% laba per tahun)</div>
                        </div>

                        <img class="graphBG" src="images/graph3.png" />

                    </div>

                    <div class="text-center">
                        *Angka hanya estimasi. Untuk angka sesuai dengan profil Dewi, silahkan melengkapi
                        profil risiko Dewi selanjutnya.
                        <br> <br>

                        <button class="onBtn grey bordered">Ganti Life Goal</button>
                        <button class="onBtn">Goal Sudah Sesuai</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>