<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <link th:rel="stylesheet" th:href="@{~/css/red.css?v=7}">

        <link th:rel="stylesheet" th:href="@{~/css/ocbcnisp.css}" type="text/css" />
    </head>

    <body>


        <!-- INSERT CONTENT START -->

        <script>
//            $(function () {
//
//            });
            function talk(key_in, message_in, label_in) {
                var data = {key: key_in, message: message_in, label: label_in};
                parent.postMessage(data, "*");
            }
//            function postToWebchat() {
//                var x, y, x1, text1, text2;
//                y = document.getElementById("cstartingprinciplev").value;
//                x = document.getElementById("cyearsv").value;
//
//                text4 = "Sisihkan " + y + " waktu " + x + " tahun";
//                text5 = "Sisihkan " + rp + " per bulan dalam jangka waktu " + x + " tahun"
//                talk('0a0791f981051e7f31aac10c163877f2', text4, text5)
//            }
        </script>

        <div class="ocbc_webview">

            <div class="ocbc_webview_overlay"></div>

            <div class="ocbc_webview_content">

                <div class="lifegoalCalculator">

                    <div class="titleBar">
                        Pertumbuhan Aset
                    </div>

                    <div class="calcInput">

                        <div class="formRow">
                            <input type="number" class="i1" th:value="${Investment_Amount}" />
                            <div class="left">Rp</div>
                            <div class="right">per Bulan</div>
                        </div>

                        <div class="formRow">
                            <input type="number" class="i2" th:value="${Tenor}" />
                            <div class="left">Selama</div>
                            <div class="right">tahun</div>
                        </div>

                        <div class="text-center">
                            <button class="onBtn">Hitung Ulang</button>
                        </div>

                    </div>

                    <div class="calcResult">
                        <div class="text-center">
                            <p>Dengan
                                <b th:text="${Investment_Amount}"/> per Bulan (lumpsum)
                                <br>
                                selama
                                <b th:text="${Tenor}"/> tahun :

                        </div>

                        <div class="resultGraph ">
                            <div class="infoCol left">
                                <div class="row title"><span>Tabungan</span></div>
                                <div class="row desc">Pertumbuhan Hingga</div>
                                <div class="row value"><span th:text="${result}"/></div>
                                <div class="row value"></div>
                                <div class="row note">*<span th:text="${result}"/>laba per tahun</div>
                            </div>

                            <div class="infoCol right">
                                <div class="row title"><span>Investasi</span></div>
                                <div class="row desc">Pertumbuhan Hingga</div>
                                <div class="row value">Rp 860.040.000,-</div>
                                <div class="row note">(7.26% labza per tahun)</div>
                            </div>

                            <img class="graphBG" th:src="@{~/images/graph1.png}" />

                        </div>

                        <div class="text-center">
                            *Estimasi laba telah disesuaikan dengan profil risiko Dewi: <b>Balance</b>.
                            <br> <br>

                            <button class="onBtn grey bordered">Ganti Life Goal</button>
                            <button class="onBtn" onclick="talk('7347dc6b3243f75c08f9d14699a25a8f','JANCOK','HUBLAAAAA')">Goal Sudah Sesuai</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>