<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/red.css" type="text/css" />
        <link rel="stylesheet" href="css/ocbcnisp.css" type="text/css" />

    </head>
    <body>
        <div>TODO write content</div>
        <script>
//            $(function () {
//
//            });
        </script>

        <div class="ocbc_webview">

            <div class="ocbc_webview_overlay"></div>

            <div class="ocbc_webview_content">

                <div class="lifegoalCalculator">

                    <div class="titleBar">
                        Pertumbuhan Aset
                    </div>

                    <div class="calcInput">

                        <div class="formRow">
                            <input type="number" class="i1" value="5000000" />
                            <div class="left">Rp</div>
                            <div class="right">per Bulan</div>
                        </div>

                        <div class="formRow">
                            <input type="number" class="i2" value="5" />
                            <div class="left">Selama</div>
                            <div class="right">tahun</div>
                        </div>

                        <div class="text-center">
                            <button class="onBtn">Hitung Ulang</button>
                        </div>

                    </div>

                    <div class="calcResult">
                        <div class="text-center">
                            Dengan <b>Rp 5.000.000</b>per Bulan (lumpsum)
                            <br>
                            selama <b>10 tahun</b> :
                        </div>

                        <div class="resultGraph ">
                            <div class="infoCol left">
                                <div class="row title"><span>Tabungan</span></div>
                                <div class="row desc">Pertumbuhan Hingga</div>
                                <div class="row value">Rp 210.040.000,-</div>
                                <div class="row note">(2% laba per tahun)</div>
                            </div>

                            <div class="infoCol right">
                                <div class="row title"><span>Investasi</span></div>
                                <div class="row desc">Pertumbuhan Hingga</div>
                                <div class="row value">Rp 860.040.000,-</div>
                                <div class="row note">(7.26% laba per tahun)</div>
                            </div>

                            <img class="graphBG" src="images/graph1.png"/>

                        </div>

                        <div class="text-center">
                            *Estimasi laba telah disesuaikan dengan profil risiko Dewi: <b>Balance</b>.
                            <br> <br>

                            <button class="onBtn grey bordered">Ganti Life Goal</button>
                            <button class="onBtn">Goal Sudah Sesuai</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
