<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/red.css?v=7">

    <link rel="stylesheet" href="css/ocbcnisp.css" type="text/css" />
    
</head>

<body>



    <!-- INSERT CONTENT START -->

    <script>
        $(function () {
            $('.ocbc_webview .openTrigger').on('click', function () {
                $('.ocbc_webview .productDetail').slideUp();
                $(this).siblings('.productDetail').slideDown();
            });

            $('.ocbc_webview #showAllCat').on('click', function () {
                $('.ocbc_webview .product_category').removeClass('hidden');
                $('#riskNotif').hide();
            });

            $('.ocbc_webview .higherRisk_selection').on('click', function () {
                $('.ocbc_webview .highRiskConfirm').show();
            });

            $('.ocbc_webview #highRiskConfirm_close').on('click', function () {
                $('.ocbc_webview .highRiskConfirm').hide();
            });
        });
    </script>

    <div class="ocbc_webview">

        <div class="ocbc_webview_overlay"></div>

        <div class="ocbc_webview_content">

            <div class="product_selection">

                <div class="product_selection_headerbar">

                    <table width="100%" cellspacing="0">
                        <tr>
                            <td class="left" width="50%">
                                <b>PILIH PRODUK REKSADANA</b>


                            </td>

                            <td class="right" colspan="2" width="50%">
                                Est. Laba/Tahun (%)
                            </td>
                        </tr>

                        <tr>
                            <td class="left">
                                Tap untuk melihat detail
                            </td>
                            <td class="right">
                                Rata-rata
                            </td>

                            <td class="right">
                                Range
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="productList_scrollArea">

                    <section class="product_category">

                        <div class="product_selection_catTitle type1">
                            CONSERVATIVE </div>

                        <ul class="productList_container">

                            <li class="productList type1">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type1">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type1">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </section>

                    <section class="product_category">

                        <div class="product_selection_catTitle type2">
                            BALANCE </div>

                        <ul class="productList_container">

                            <li class="productList type2">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type2">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type2">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </section>

                    <section class="product_category">

                        <div class="product_selection_catTitle type3">
                            GROWTH </div>

                        <ul class="productList_container">

                            <li class="productList type3">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type3">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type3">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn">PILIH</button>
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </section>


                    <div id="riskNotif" class="riskNotif">
                        Menampilkan produk reksadana yang sesuai atau lebih rendah dari profile resiko Dewi :
                        <b>BALANCE</b>
                        <br> <br>
                        <button id="showAllCat" class="onBtn">TAMPILKAN SEMUA</button>
                    </div>

                    <section class="product_category hidden">

                        <div class="product_selection_catTitle type4">
                            AGGRESIVE
                        </div>

                        <ul class="productList_container">

                            <li class="productList type4">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn higherRisk_selection">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type4">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn higherRisk_selection">PILIH</button>
                                    </div>

                                </div>
                            </li>
                            <li class="productList type4">
                                <div class="productBar openTrigger clearfix">
                                    <div class="productBar_cell left">
                                        Aberdeen Standar Ind Money Market Lorem Ipsum dolor Sit Amet
                                    </div>

                                    <div class="productBar_cell right">
                                        <b class="val">6.75</b>
                                    </div>
                                    <div class="productBar_cell right">
                                        <b class="val">5 - 7</b>
                                    </div>
                                </div>

                                <div class="productDetail clearfix">

                                    <table class="detailTable">
                                        <tr>
                                            <td colspan="5">
                                                <b> Kinerja</b>
                                            </td>
                                            <td class="right">
                                                <b>Harga NAB/Unit</b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                1 Bln
                                                <br>
                                                <b class="val">0.1</b>
                                            </td>
                                            <td>
                                                6 Bln
                                                <br>
                                                <b class="val">0.5</b>
                                            </td>
                                            <td>
                                                YTD
                                                <br>
                                                <b class="val">1.2</b>
                                            </td>
                                            <td>
                                                1 Thn
                                                <br>
                                                <b class="val">5</b>
                                            </td>
                                            <td>
                                                5 Thn
                                                <br>
                                                <b class="val">6</b>
                                            </td>
                                            <td>
                                                <b class="val">1275.90</b></td>
                                        </tr>
                                    </table>

                                    <div class="botOption clearfix">
                                        Jenis Reksadana
                                        <b>PENDAPATAN TETAP</b>

                                        <button class="onBtn higherRisk_selection">PILIH</button>
                                    </div>

                                </div>
                            </li>
                        </ul>

                    </section>


                </div>

                <div id="highRiskConfirm" class="highRiskConfirm">
                    <div class="dialogBox">
                        <div>
                            Profil resiko yang dipilih <b>(AGGRESIVE)</b> lebih tinggi dari profile resiko Dewi
                            : <b>BALANCE</b>.

                            Apakah Dewi yakin ingin melanjutkan dengan produk terpilih?
                            <br><br>
                            <button id="highRiskConfirm_close" class="onBtn grey">KEMBALI</button>
                            <button class="onBtn">LANJUTKAN</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>